// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "layouts/**/*";
@import "menus/**/*"; 
@import "hover/**/*"; 


html{
    background-color: $naranjo;
    body{
        color:black;//color de texto
        a{
            text-decoration: none;
            color: $rojo-ladrillo-3;
        }
    }
}
.l-sk-header,.l-sk-region--destacado,.l-sk-region--breadcrumb,.l-sk--region-footer{
    width:80%;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
}

.l-sk-slider{
    width:100%;
    z-index: -1;      
    img, media{
    height: auto;
    max-width: 100%;
    width: 100%;
    }
}
.l-sk--region-content,.l-sk-art--region-content{    
    position: relative;
    top: 5rem;
    width:80%;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
}

.l-sk-region--breadcrumb,.l-sk-art-region--breadcrumb {
    display: none;
    position: relative;
}

//Ajuste caja menu principal
.l-sk-nav{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    clear: none;
    float: right;
    height: 6rem;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    top: 16rem;
    width: 100%;
    .block--views-marca-block {
    float: left;
    margin-left: 50px;
    margin-top: 1.5rem;
    position: absolute;
    width: 40%;
    img{
        width:100%;
        height: auto;}
    }
    #superfish-1 {
    margin-top: 1.5rem;
    float: right;
    margin-right: 5%;

    .sf-depth-1 {
    padding: 4px;
    font-weight: bold;
    text-transform: uppercase;}
    .first{
        border-left:4px solid;
        border-color:$aguamarina-3;
    }
    .middle{
        padding-right: 4px;
        border-left:4px solid;
        border-color:$aguamarina-3;
    }
    .last{
        border-left:4px solid;
        border-color:$aguamarina-3;
        border-right: 4px solid;
        border-color:$aguamarina-3;
    }
    }
    @include breakpoint($celular_small){
    @include grid-span(12,1);
}
        @include breakpoint($celular){ 
    @include grid-span(12,1);
}
        @include breakpoint($tablet){
    @include grid-span(12,1);
}
        @include breakpoint($desk_normal){
    @include grid-span(12,1);
}
        @include breakpoint($desk_wide){
    @include grid-span(12,1);
}

}

#superfish-1 {
.sf-sub-indicator {
margin-top: 1rem;
}}

.l-sk-art-nav{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 2;
    clear: none;
    float: right;
    height: 4rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    border-bottom: 6px solid orange;
    .block--views-marca-block {
    float: left;
    margin-left: 50px;
    margin-top: .5rem;
    position: absolute;
    width: 40%;
        img{
        width:100%;
        height: auto;
    }
}
    #superfish-1 {
    margin-top: 1rem;
    float: right;
    margin-right: 5%;
    .sf-depth-1 {
    padding: 4px;
    font-weight: bold;
    text-transform: uppercase;}
    .first{
        border-left:4px solid;
        border-color:$aguamarina-3;
    }
    .middle{
        padding-right: 4px;
        border-left:4px solid;
        border-color:$aguamarina-3;
    }
    .last{
        border-left:4px solid;
        border-color:$aguamarina-3;
        border-right: 4px solid;
        border-color:$aguamarina-3;
    }
    }
    @include breakpoint($celular_small){
    @include grid-span(12,1);
}
        @include breakpoint($celular){ 
    @include grid-span(12,1);
}
        @include breakpoint($tablet){
    @include grid-span(12,1);
}
        @include breakpoint($desk_normal){
    @include grid-span(12,1);
}
        @include breakpoint($desk_wide){
    @include grid-span(12,1);
}

}

.l-sk-art-header,.l-sk-art-slider,.l-sk-art-region--destacado,.l-sk-art-region--breadcrumb,.l-sk-art--region-footer{
    width:70%;
    margin: 0 auto;
    margin-left: 15%;
    margin-right: 15%;
}
#user-login-form {
font-size: 10px;
}

.leatina-teaser {
float: left;
width: 200px;
margin: 10px;
position: relative;

.leatina-teaser-imagen {
width: 100%;
height: auto;}
.teaser-text {
    position: absolute;
    display:none;
    bottom: 0;
    background: rgba(0,0,0,.6);
    color:white;
    .teaser-date {
    font-size: 9px;
    color:white;
    }
    .teaser-title{
         a{
            text-decoration: none;
            color: white;
        }
    }
}
}

.leatina-teaser:hover .teaser-text{
    display:block;
}

/////Organizan
.logo-organizacion{
    float: left;
    width: 90px;
    margin: 6px;
    position: relative;
.name-org{
    position: absolute;
    display:none;
    bottom: 0;
    background: rgba(0,0,0,.6);
    color:white;
        a{
            text-decoration: none;
            color: white;
        }
}
}
.logo-organizacion:hover .name-org{
    display:block;
}
//Organizan-page
.teaser-org-page {
width: 100%;
float: left;
height: initial;
margin:20px;
.logo-organizacion-page{float:left;}
}

//En articulos
//Tipo
.field--name-field-tipo-de-articulo {
font-size: xx-large;
font-family: 'PT Sans', sans-serif;
}
//Imagenes
.field--name-field-image{
    text-align: center;
    .field__item {
    float: none;
img, media {
max-width: 100%;
width: 80%;
height: auto;
    }
}
}

//Taggs
.field--name-field-tags {
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 10px;
.field__items {
float: left;
display: inline-flex;
.field__item{
background: #E2CCB7;
border-radius: 4px;
padding-left: 5px;
padding-right: 5px;
margin-left: 4px;
}
}}

//En el footer:
.view-pie-de-pagina {
margin: 0 30%;
}
.logo-footer {
float: left;
padding-right: 4px;
padding-left: 4px;
margin: 2px;
}

.sudaka-footer,.sudaka-art-footer  {
width: 100%;
float: right;
margin-left: 0;
margin-right: 0;
clear: none;
position: relative;
top: 7rem;
border-top: 5px solid grey;
background: grey;
}


.nosotros-feria{
.l-sk-art-content {
width: 100%;
background: url('../images/feria.jpg');
background-size: 100% auto;
background-repeat: no-repeat;
float: right;
margin-left: 0;
margin-right: 0;
clear: none;
article {
display: block;
width: 60%;
float: right;
}
}}

//Pagina organizacones
.page-org {
.logo-leatina-page {
position: fixed;
float: left;
width: 30%;
z-index: 2;
img{
width: 100%;
height: auto;
}
}
.view-content {
float: right;
width: 60%;
.teaser-org-page{
.logo-organizacion-page {
float: left;
width: 40%;
margin-right: 4px;
padding-right: 2px;
img{
    width:100%;
    height: auto;
}
}
.name-org-text{   
width: 60%;
display: table-row;

.name-org-cuerpo {
text-align: justify;
font-size: 1.2rem;
margin-left: 4px;
}}

}}
}