// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "layouts/**/*";
@import "menus/**/*"; 
@import "hover/**/*"; 


html{
    background-color: $naranjo;
    body{
        color:$aguamarina;//color de texto
        a{
            text-decoration: none;
            color: $rojo-ladrillo-3;
        }
    }
}
.l-sk-header,.l-sk-region--destacado,.l-sk-region--breadcrumb,.l-sk--region-footer{
    width:70%;
    margin: 0 auto;
    margin-left: 15%;
    margin-right: 15%;
}

.l-sk-slider{
    width:100%;
    z-index: -1;      
    img, media{
    height: auto;
    max-width: 100%;
    width: 100%;
    }
}
//Ajuste caja menu principal
.l-sk-nav{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    clear: none;
    float: right;
    height: 6rem;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    top: 16rem;
    width: 100%;
    .block--views-marca-block {
    float: left;
    margin-left: 50px;
    margin-top: 1.5rem;
    position: absolute;
}
    #superfish-1 {
    margin-top: 1.5rem;
    float: right;
    margin-right: 50px;
    .sf-depth-1 {
    padding: 4px;
    font-weight: bold;
    text-transform: uppercase;}
    .first{
        border-left:4px solid;
        border-color:$aguamarina-3;
    }
    .middle{
        padding-right: 4px;
        border-left:4px solid;
        border-color:$aguamarina-3;
    }
    .last{
        border-left:4px solid;
        border-color:$aguamarina-3;
        border-right: 4px solid;
        border-color:$aguamarina-3;
    }
    }
    @include breakpoint($celular_small){
    @include grid-span(12,1);
}
        @include breakpoint($celular){ 
    @include grid-span(12,1);
}
        @include breakpoint($tablet){
    @include grid-span(12,1);
}
        @include breakpoint($desk_normal){
    @include grid-span(12,1);
}
        @include breakpoint($desk_wide){
    @include grid-span(12,1);
}

}


.l-sk-art-nav{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    clear: none;
    float: right;
    height: 6rem;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    top: 16rem;
    width: 100%;
    .block--views-marca-block {
    float: left;
    margin-left: 50px;
    margin-top: 1.5rem;
    position: absolute;
}
    #superfish-1 {
    margin-top: 2rem;
    float: right;
    margin-left: 50%;
    margin-right: 50px;
    .sf-depth-1 {
    padding: 4px;
    font-weight: bold;
    text-transform: uppercase;}
    .first{
        border-left:4px solid;
        border-color:$aguamarina-3;
    }
    .middle{
        padding-right: 4px;
        border-left:4px solid;
        border-color:$aguamarina-3;
    }
    .last{
        border-left:4px solid;
        border-color:$aguamarina-3;
        border-right: 4px solid;
        border-color:$aguamarina-3;
    }
    }
    @include breakpoint($celular_small){
    @include grid-span(12,1);
}
        @include breakpoint($celular){ 
    @include grid-span(12,1);
}
        @include breakpoint($tablet){
    @include grid-span(12,1);
}
        @include breakpoint($desk_normal){
    @include grid-span(12,1);
}
        @include breakpoint($desk_wide){
    @include grid-span(12,1);
}

}

.l-sk-art-header,.l-sk-art-slider,.l-sk-art-nav,.l-sk-art-region--destacado,.l-sk-art-region--breadcrumb,.l-sk-art--region-footer{
    width:70%;
    margin: 0 auto;
    margin-left: 15%;
    margin-right: 15%;
}
#user-login-form {
font-size: 10px;
}

.sudaka-footer,.sudaka-art-footer{
    background-image: url("../images/footer.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 160px;
    height: 150px;
}


.leatina-teaser {
    height: 340px;
    margin-bottom: 10px;
.leatina-teaser-imagen {
padding-bottom: 10px;}
.text-right {
    float: right;
    font-size: 0.8rem;
    width: 60%;
    text-align: justify;
}
.text-left {
    float: left;
    margin-right: 2%;
    width: 38%;
    .teaser-date {
    font-size: 9px;
    }
}
}