$link: blue;
$rojo: red;
$amarillo: yellow;
$verde: green;
$naranjo:rgb(255, 102, 0);

//paleta de colores mostaza-azul-rojo oscuro

/* As RGBa codes */

$mostaza: rgba(216,215,161,1);   /* Main Primary color */
$mostaza-1: rgba(255,255,240,1);
$mostaza-2: rgba(253,252,216,1);
$mostaza-3: rgba(182,181,113,1);
$mostaza-4: rgba(150,148, 75,1);

$rojo-ladrillo: rgba(172, 73, 23,1);   /* Main Secondary color (1) */
$rojo-ladrillo-1: rgba(255,200,172,1);
$rojo-ladrillo-2: rgba(217,146,110,1);
$rojo-ladrillo-3: rgba(114, 57, 27,1);
$rojo-ladrillo-4: rgba( 60, 23,  5,1);

$aguamarina: rgba( 34,144,170,1);   /* Main Secondary color (2) */
$aguamarina-1: rgba(251,251,251,1);
$aguamarina-2: rgba(194,204,206,1);
$aguamarina-3: rgba( 83,118,127,1);
$aguamarina-4: rgba( 45, 88, 99,1);